@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  @apply hover:underline;
}

dialog::backdrop {
  /* 見た目 */
  @apply bg-black/30;
}

body:has(dialog[open]) {
  overflow: hidden;
}

input, textarea {
  @apply bg-black;
}

*:focus {
  @apply outline-none;
}
